#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.container {

  width: 100%;

  .title {
    height: 10px;
  
    margin: 0;
  }
  
  .infoField {
  
    height: 100px;

    background-color: white;
    
  }

}